.feature-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2em;
  align-items: center;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
    text-align: center;

    @mixin atSmall {
      text-align: left;
      font-size: 1.875rem;
    }
  }
}
